<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="page-sidebar navbar-collapse collapse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Dental Clinic", "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                        <li>@Html.ActionLink("Dentist", "Dentist", "Home")</li>
                        <li>@Html.ActionLink("Users", "Users", "Home")</li>
                        <li>@Html.ActionLink("Patients", "Patients", "Home")</li>
                        <li>@Html.ActionLink("Appointments", "Appointments", "Home")</li>
                        <li>@Html.ActionLink("Diseases", "Diseases", "Home")</li>
                        <li>@Html.ActionLink("Treatments", "Treatments", "Home")</li>
                        <li>@Html.ActionLink("LogOut", "LogOut", "Home")</li>
                        <li>@Html.ActionLink("Profile", "Profile", "Home")</li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
          
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>